body{
    background-image: url('../Images/Black.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    background-color: #666;
    padding-top: 125px;
    padding-bottom: 75px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight:bolder;
    color: white;
}
   
section{
    display:flex;
    flex-direction:row;
    justify-content:center; 
    padding-top: 50px;
    padding-bottom: 75px;
}
  
.img-area{
    width: 300px;
    height: 425px;
    margin: 5px 15px 50px 10px;
    padding-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    position:relative;
   
}
  
.img-area img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    transition: .5s all ease-in-out;
    backface-visibility: hidden;
    cursor: pointer;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);

}
  
.img-area img:hover {
    transform: scale(1.1); 
}
  
.hide{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding-top: 20px;
    display: block;
    text-align: center;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    pointer-events: none;
}

.img-area:hover .hide {
    opacity: 1;
}



